body
{
    background: #eaeb92;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;

}

.tableOuter
{
    text-align: center;
    width: 100%;
    align-items: center;
}

.headerStyle
{
    border: 0;
    height: 90px;
}

.headerStyle1
{
    background: #7692e6;
    width: 100%;
    height: 50px;
    text-align: left;
    color: #f5f5f5;
    font-size: 24px;
    font-weight: lighter;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-spacing: 0;
}
.headerStyle2
{
   background: rgba(87, 255, 71, 0.24);
    width: 100%;
    height: 40px;
    text-align: left;
    border-spacing: 0;
}
.bodyOfTableStyle
{
    width:  100%;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    border-spacing: 0;
}
.column1
{
    width: 20px;
    background: #ffffff;
    padding:  0 20px 0 20px;
    border: 1px solid #dcdcdc;
    border-left: none;
}
.column2
{
    width: 700px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 10px 0 10px 0;
    font-size: 18px;
}
.column3
{
    width: 50;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-right: none;
}

.greenButton
{
    background: limegreen;
    color: #f5f5f5;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #dcdcdc;
}
.blueButton
{
    background: #2aabd2;
    color: #f5f5f5;
    font-size: 24px;
    border-color: #dcdcdc;
}
.columnOfHead1
{
    width: 40px;
    padding: 0 20px 0 20px;
}
.columnOfHead2
{
    width: 750px;
}
.columnOfHead3
{
    width: 50px;
}
.textFieldTask
{
    resize: none;
    max-height: 25px;
    margin: auto;
    padding: 5px 0 0 0;

}



